{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}PSUSphere{% endblock %}</title>

    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
        user-scalable=0, shrink-to-fit=no"
      name="viewport"
    />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ready.css' %}" />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
  </head>

  <body>
    <div class="wrapper">
      <!-- HEADER -->
      <div class="main-header">
        <div class="logo-header">
          <a href="/" class="logo"> PSUSphere </a>

          <button
            class="navbar-toggler sidenav-toggler ml-auto"
            type="button"
            data-toggle="collapse"
            data-target="collapse"
            aria-controls="sidebar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <button class="topbar-toggler more">
            <i class="la la-ellipsis-v"></i>
          </button>
        </div>

        <nav class="navbar navbar-header navbar-expand-lg">
          <div class="container-fluid">
            <form class="navbar-left navbar-form nav-search mr-md-3">
              <div class="input-group">
                <input
                  type="text"
                  placeholder="Search ..."
                  class="form-control"
                />

                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="la la-search search-icon"></i>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </nav>
      </div>

      <!-- SIDEBAR -->
      <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
          <div class="user">
            <div class="photo">
              <img src="{% static 'img/profile.jpg' %}" />
            </div>

            <div class="info">
              <a
                class=""
                data-toggle="collapse"
                href="#collapseExample"
                aria-expanded="true"
              >
                <span>
                  User
                  <span class="user-level">Student</span>
                  <span class="caret"></span>
                </span>
              </a>

              <div class="clearfix"></div>

              <div
                class="collapse in"
                id="collapseExample"
                aria-expanded="true"
              >
                <ul class="nav">
                  <li>
                    <a href="#">
                      <span class="link-collapse"> My Profile </span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <span class="link-collapse"> Edit Profile </span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <span class="link-collapse"> Settings </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- SIDEBAR MENU -->
          <ul class="nav">
            <li class="nav-item active">
              <a href="/">
                <i class="la la-dashboard"></i>
                <p>Dashboard</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#">
                <i class="la la-table"></i>
                <p>Organizations</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#">
                <i class="la la-keyboard-o"></i>
                <p>Forms</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#">
                <i class="la la-th"></i>
                <p>Tables</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="#">
                <i class="la la-bell"></i>
                <p>Notifications</p>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- MAIN CONTENT -->
      <div class="main-panel">
        {% block content %} {% endblock %}

        <!-- FOOTER -->
        <footer class="footer">
          <div class="container-fluid">
            <nav class="pull-left">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="#"> PSUSphere </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#"> Help </a>
                </li>
              </ul>
            </nav>

            <div class="copyright ml-auto">PSUSphere</div>
          </div>
        </footer>
      </div>
    </div>

    <!-- JAVASCRIPT -->

    <script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>

    <script src="{% static 'js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>

    <script src="{% static 'js/core/popper.min.js' %}"></script>

    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/plugin/chartist/chartist.min.js' %}"></script>

    <script src="{% static 'js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js' %}"></script>

    <script src="{% static 'js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

    <script src="{% static 'js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>

    <script src="{% static 'js/plugin/jquery-mapael/jquery.mapael.min.js' %}"></script>

    <script src="{% static 'js/plugin/jquery-mapael/maps/world_countries.min.js' %}"></script>

    <script src="{% static 'js/plugin/chart-circle/circles.min.js' %}"></script>

    <script src="{% static 'js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>

    <script src="{% static 'js/ready.min.js' %}"></script>
  </body>
</html>
